.box {
  margin: 10px;
  width: 100px;
  height: 100px;
  background: rgb(0, 0, 0);
}

h1 {
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
}

.rgbChoice {
  margin: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

label {
  display: inline-block;
  width: 140px;
  text-align: left;
}​